<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="ColoredConsole" name="cons"
            useDefaultRowHighlightingRules="false"
            layout="${longdate}|${level:uppercase=true}|${message}">
      <highlight-row foregroundColor="DarkGray" condition="level == LogLevel.Trace"/>
      <highlight-row foregroundColor="Gray" condition="level == LogLevel.Debug"/>
      <highlight-row foregroundColor="White" condition="level == LogLevel.Info"/>
      <highlight-row foregroundColor="Yellow" condition="level == LogLevel.Warn"/>
      <highlight-row foregroundColor="Red" condition="level == LogLevel.Error"/>
      <highlight-row foregroundColor="DarkRed" condition="level == LogLevel.Fatal"/>
    </target>
    
    <target xsi:type="AsyncWrapper"
            name="Wrapper"
            timeToSleepBetweenBatches="0"
            overflowAction="Block">
      <target xsi:type="File" name="datedFile" fileName="log${date:format=yyyy-MM-dd}.txt" layout="${longdate}|${level:uppercase=true}|${message}"
              maxArchiveFiles="10" archiveFileName="archives/log.archive{###}.txt" archiveNumbering="Rolling" archiveEvery="Day"/>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="cons"/>
    <logger name="*" minlevel="Trace" writeTo="Wrapper"/>
  </rules>
</nlog>